
body {
	font-family: 'Lato', sans-serif;
}

header img {
	width: 240px;
	height: auto;
	margin-top: 10px;
	padding-top: 17px;
	padding-left: 40px;
}

#navbar {
	padding-top: 237px;
	font-size: 18px;
	word-spacing: 70px;
}

#navbar a {
	text-decoration: none;
	color: #20336C;
}

.bordenavbar {
	border-right: 2.5px solid #E6E6E6; 
	text-align: center;
	/*border-left: 2.5px solid #E6E6E6; */
}

#inicionavbarizq {
	border-left: 2.5px solid #E6E6E6; 
}

#social a {
	font-size: 35px;
	/*padding-right: 20px;*/
	border-radius: 70%;
	color: white;
	background-color: #20336C; 
	/*font-size: 24px;*/
	/*font-weight: bold;
	height:80px;
	width: 80px;*/
	text-align: right;
}

#social {
	padding-top: 230px;
}


#carrusel img {
	min-width: 500px;
	max-width: 1300px;
	height: auto;
	padding: 30px 0;
}

.galeriadiv {
	height: 28px;
    background-color: #E6E6E6;
    margin-top: 60px
}

h2 {
	text-align: center;
	margin-top: 45px;
	padding-top: 10px;
	color: #20336C;
	font-size: 40px;

}

#productos {
	margin-top: 50px;
}

#tarjetadepresentacion1 {
	width: 340px;
	height: 300px;
	display: block;
	margin: 0 auto;
}

#libro1 {
	width: 300px;
	height: 320px;
	display: block;
	margin: 0 auto;
}

#revista1 {
	width: 380px;
	height: 300px;
	display: block;
	margin: 0 auto;
	padding: 15px;
}

.borde {
	border-right: 2.5px solid #E6E6E6;
}

h3 {
	text-align: center;
	font-size: 20px;
	text-align: center;
}

footer {
	margin-top: 50px;
	padding-top: 20px;
	background-color: #E6E6E6;
}

.footer-icons {
	text-align: right;
	font-size: 35px;
	
}

.footer-icons a {
	background: #20336C;
	color: white;
	border-radius: 50%;
}

p {
	font-size: 15px;
	color: #20336C;
	margin: 0 0 0px;
}